body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #6690b8;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

h2 {
  color: #333;
  font-size: 50px;
}
h3 {
  color: #333;
  font-size: 40px;
}

p {
  color: #555;
  font-size: 30px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.form-control.ps-4 {
  padding-left: 30px; /* Adjust based on icon width */
}
